* {
  box-sizing: border-box;
}

body {
  font-family: "Palatino", Arial, Helvetica, sans-serif;
  color: $text;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.box-flex {
  display: flex;
}

.section__title {
  font-size: 28px;
  text-align: center;
  margin: 0;
}
