* {
  box-sizing: border-box;
}

body {
  font-family: "Palatino", serif;
  color: $text;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.box-flex {
  display: flex;
}

.section__title {
  font-size: 28px;
  text-align: center;
  margin: 0;
}

.btn {
  font-size: 14px;
  text-transform: uppercase;
  width: 190px;
  outline: none;
  padding: 18px 0;
  background: #ffebe6;
  border-radius: 3px;
  cursor: pointer;
  border: none;
  transition: all .1s;

  &:active {
    color: $text;
  }

  &:hover {
    background: #ffdbd2;
  }
}

.main_wrapper {
  position: relative;
  height: 100vh;
}