@font-face {
 font-family: "Palatino";
 src: url("../fonts/palatino/Palatino.eot"),
      url("../fonts/palatino/Palatino.ttf") format("truetype"),
      url("../fonts/palatino/Palatino.otf") format("otf"),
      url("../fonts/palatino/Palatino.svg") format("svg"),
      url("../fonts/palatino/Palatino.woff") format("woff");
      font-weight: normal;
}

@font-face {
 font-family: "CenturyGothic";
 src: url("../fonts/gothic/CenturyGothic.eot"),
      url("../fonts/gothic/CenturyGothic.ttf") format("truetype"),
      url("../fonts/gothic/centuryGothic.svg") format("svg"),
      url("../fonts/gothic/CenturyGothic.woff") format("woff");
      font-weight: normal;
}
