/*
* about style
*/

.about {
  padding: 94px 0 85px;

  @include tablets {
    padding: 50px 0 30px;
  }

  &__descr {
    width: 61%;
    margin: 35px auto 0;
    font-size: 18px;
    line-height: 160%;

    @include tablets {
      width: 90%;
    }
  }

}
