/*
* contacts style
*/

.contacts {
  width: 100%;
  display: flex;

  &__left {
    width: 50%;
    height: 465px;

    @include tablets {
      display: none;
    }
  }

  &__bg {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-position: center center;
  }

  &__right {
    padding: 90px 0 50px 80px;
    width: 50%;
    background: rgba(249, 250, 247, 0.6);

    @include tablets {
      width: 100%;
      padding: 90px 0 50px 40px;
    }
  }

  &__title {
    font-size: 22px;
    margin-bottom: 40px;
    font-weight: 600;
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    margin-bottom: 50px;
  }

  &__item {
    margin-bottom: 25px;
    font-size: 18px;
  }

  &__phone,
  &__mail {
    display: block;
    text-decoration: none;
    color: $text;
  }

  &__soctitle {
    font-size: 22px;
    margin-bottom: 20px;
  }
}

.soc__list {
  padding: 0;
  list-style-type: none;
  display: flex;
}

.soc__item {
  margin-right: 20px;
}
