/*
* footer style
*/

.footer {
  padding: 20px 0;
  background: $text;
}

.footer_text {
  text-align: center;
  color: white;
  font-family: 'Century Gothic', sans-serif;
  letter-spacing: 0.05em;
  
}