/*
* header style
*/

.header {
  margin-top: 35px;
  margin-bottom: 90px;
  .box-flex {
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}

.nav {
  &__list {
    display: flex;
    list-style-type: none;
  }

  &__item {
    margin-right: 60px;
    position: relative;

    &:last-child {
      margin-right: 0;
    }

    &:before {
      content: '';
      display: block;
      background: $text;
      height: 1px;
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 0;
      transition: width 0.3s;
    }

    &:hover {
      &:before {
        width: 100%;
      }
    }
  }

  &__link {
    text-decoration: none;
    color: $text;
  }
}

.phone {
  text-decoration: none;
  color: $text;
}
