/*
* header style
*/

.header {
  margin-top: 35px;
  margin-bottom: 90px;
  .box-flex {
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  @include tablets {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.nav {
  display: block;
  font-size: 18px;
  &__list {
    display: flex;
    list-style-type: none;

    @include tablets {
      flex-direction: column;
      position: absolute;
      background: #fff;
      z-index: 20;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: 0;
      align-items: center;
      padding: 120px 0 0;
      overflow: hidden;
    }
  }

  &__item {
    margin-right: 60px;
    position: relative;

    &:last-child {
      margin-right: 0;
    }

    &:before {
      content: "";
      display: block;
      background: #4f4f4f;
      opacity: .8;
      height: 1px;
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 0;
      transition: width 0.3s;
    }

    &:hover {
      &:before {
        width: 100%;
      }
    }

    @include tablets {
      margin: 0 0 35px 0;
      font-size: 18px;
      overflow: hidden;
    }
  }

  &__link {
    text-decoration: none;
    color: $text;
  }

  @include tablets {
    display: none;
  }
}

.phone {
  font-size: 18px;
  text-decoration: none;
  color: $text;
  z-index: 41;

  @include tablets {
    display: none;
    position: absolute;
    bottom: 25%;
    font-size: 22px;
    left: calc(50% - 75px);
  }
}

.burger {
  display: none;

  @include tablets {
    display: block;
  }
}

.closeMark {
  z-index: 30;
  display: none;
}

.logo__link {
  z-index: 40;
}

.shadow {
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.4);
  z-index: 30;
}

.close-pannel {
  display: none;
}

.soc__list-mob {
  display: none;
  z-index: -10;
  list-style-type: none;
  
  @include tablets {
    // display: flex;
    z-index: 45;
    position: absolute;
    bottom: 15%;
    left: calc(50% - 59px);
  }
}

.soc__link-mob {
  display: inline-block;
  margin-right: 28px;

  &:last-child {
    margin-right: 0;
  }

  img {
    width: 43px;
  }
}

.show-pannel {
  display: block;
}
