/*
* intro style
*/

.intro {
  margin-bottom: 100px;
  .box-flex {
    justify-content: space-between;
  }

  &__left {
    display: flex;
    flex-direction: column;
    align-self: center;
  }

  &__right {
    width: 680px;
    overflow: hidden;
  }
}

.main-title {
  font-size: 42px;
  font-weight: 300;
  margin: 0 0 10px 0;
}

.descr-title {
  font-size: 22px;
  margin-bottom: 35px;
}

.cost-text {
  font-size: 20px;
  margin-bottom: 16px;
  font-weight: 100;
  line-height: 140%;
}

.btn {
  width: 190px;
  outline: none;
  padding: 18px 0;
  background: #ffebe6;
  border-radius: 3px;

  &:active {
    color: $text;
  }
}

.slider__pic_height {
  height: 474px;
}

#slider {
  display: flex;

  .slick-arrow {
    position: absolute;
    bottom: -10%;
    right: 0;
    z-index: 10;
    cursor: pointer;

    &:first-child {
      right: 10%;
    }
  }
}