/*
* intro style
*/

.intro {
  margin-bottom: 100px;

  @include tablets {
    margin-bottom: 50px;
  }

  .container {
    @include tablets {
      padding: 0;
    }
  }

  .box-flex {
    justify-content: space-between;
    @include tablets {
      justify-content: center;
      align-items: center;
      flex-direction: column-reverse;
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
    align-self: center;

    .btn {
      @include tablets {
        align-self: center;
      }
    }
  }

  &__right {
    width: 680px;
    overflow: hidden;

    @include tablets {
      width: 100%;
    }
  }
}

.slider__pic {
  @include tablets {
    width: 100%;
    height: auto;
  }
}

.main-title {
  font-size: 42px;
  font-weight: 300;
  margin: 0 0 10px 0;
}

.descr-title {
  font-size: 22px;
  margin-bottom: 35px;
}

.cost-text {
  font-size: 20px;
  margin-bottom: 16px;
  font-weight: 100;
  line-height: 140%;

  @include tablets {
    margin-bottom: 26px;
  }
}

.slider__pic_height {
  height: 474px;

  @include tablets {
    height: 100%;
  }
}

#slider {
  width: 100%;
  display: flex;

  .slick-arrow {
    position: absolute;
    bottom: -10%;
    right: 0;
    z-index: 10;
    cursor: pointer;

    &:first-child {
      right: 10%;
    }

    @include tablets {
      display: none !important;
    }
  }
}

.slider__item {
  width: 100%;
}
