/*
* popup style
*/

#black_fill {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  cursor: pointer;
}

#modal_box {
  position: fixed;
  top: 20vh;
  left: calc(50% - 212px);
  z-index: 55;
  display: none;
}

#close_modal {
  fill: #fff;
  position: absolute;
  top: 10px;
  right: 25px;
  cursor: pointer;
  z-index: 10;
}

#content_modal {
  // width: 100%;
  width: 425px;
  background-color: #fff;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.form__title {
  font-size: 20px;
  line-height: 24px;
  width: 56%;
  text-align: center;
  margin-bottom: 35px;
}

#form_call {
  display: flex;
  flex-direction: column;
  text-align: center;

  input {
    width: 264px;
    border: none;
    border-bottom: 1px solid #f2f2f2;
    outline: none;
    margin-bottom: 40px;

    &::placeholder {
      color: #bdbdbd;
      font-size: 14px;
    }
  }

  .btn {
    align-self: center;
    margin-bottom: 44px;
  }
}

.politic {
  width: 90%;
  font-size: 10px;
  text-align: center;
  color: #828282;
  line-height: 15px;

  &__link {
    color: #828282;
    cursor: pointer;
    text-decoration: underline;
  }
}

/*
* popup-style
*/

// .popup-style {
//   // width: 500px;
// }

.popup-img__item {
  height: 400px;
  width: 50%;
  border: solid 2px #ddd;
}

// .popup-img__pic {
//   width: 100%;
//   height: 100%;
// }