/*
* reviews style
*/

.reviews {
  padding: 90px 0;

  @include tablets {
    padding: 50px 0;
  }

  .container {
    position: relative;
  }

  .section__title {
    margin-bottom: 50px;

    @include tablets {
      margin-bottom: 35px;
    }
  }

  &__item {
    height: 360px;
    text-align: center;
    margin: 0 auto;

    @include tablets {
      height: auto;
      padding-bottom: 60px;
    }
  }
  
  &__pic {
    width: 126px;
    height: 126px;
    overflow: hidden;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    margin-bottom: 35px;
  }
  
  &__text {
    text-align: center;
    width: 54%;
    margin: 0 auto;
    line-height: 160%;
    margin-bottom: 26px;

    @include tablets {
      width: 60%;
      text-align: left;
    }
  }

  &__link {
    @include tablets {
      width: 60%;
      margin: 0 auto;
    }
  }
}

#reviews__wrap {
  width: 100%;
  margin: 0 auto;
  height: 360px;
  overflow: hidden;
  position: relative;
  
  .slick-dots {
    bottom: -7px;
  }

  .slick-arrow {
    position: absolute;
    right: 0;
    top: 50%;
    cursor: pointer;

    &:first-child {
      left: 0;
    }
  }

  @include tablets {
    height: auto;
  }
}

.preson__link {
  color: $text;
  text-decoration: none;
  outline: none;

  &-soc {
    color: #2D9CDB;
    text-decoration: underline;
  }
}

