/*
* reviews style
*/

.reviews {
  padding: 90px 0;

  .container {
    position: relative;
  }

  .section__title {
    margin-bottom: 50px;
  }

  &__item {
    height: 360px;
    text-align: center;
    margin: 0 auto;
  }
  
  &__pic {
    width: 126px;
    height: 126px;
    overflow: hidden;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    margin-bottom: 35px;
  }
  
  &__text {
    text-align: center;
    width: 53%;
    margin: 0 auto;
    line-height: 160%;
    margin-bottom: 26px;
  }
}

// .wrapper {
//   width: 700px;
//   overflow: hidden;
//   margin: 0 auto;
// }

#reviews__wrap {
  width: 100%;
  margin: 0 auto;
  height: 360px;
  // overflow-y: hidden;
  // overflow-x: visible;
  overflow: hidden;
  position: relative;
  
  .slick-dots {
    bottom: 5%;
  }

  .slick-arrow {
    position: absolute;
    right: 0;
    top: 50%;
    cursor: pointer;

    &:first-child {
      left: 0;
    }
  }
}

.preson__link {
  color: $text;
  text-decoration: none;
  outline: none;

  &-soc {
    color: #2D9CDB;
    text-decoration: underline;
  }
}

