/*
* services style
*/

.services {
  padding: 90px 0 0 0;
  background: rgba(249, 250, 247, 0.6);
  .section__title {
    margin-bottom: 39px;
  }
  &__list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    padding: 0;
    justify-content: space-between;
  }

  &__item {
    width: 270px;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 90px;

    @include tablets {
      margin-bottom: 50px;
    }
  }
  
  &__title {
    font-weight: 900;
  }
}